/* Cards */
.ctn-card .card:before,
.ctn-card .card:after {
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.ctn-card:nth-child(3n + 1) .card:before,
.ctn-card:nth-child(3n + 1) .card:after {
	background-image: linear-gradient(
											315deg,
											#2a8c00,
											#000000
										);
}

.ctn-card:nth-child(3n + 2) .card:before,
.ctn-card:nth-child(3n + 2) .card:after {
	background-image: linear-gradient(
											315deg,
											#107979,
											#000000
										);
}

.ctn-card:nth-child(3n + 3) .card:before,
.ctn-card:nth-child(3n + 3) .card:after {
	background-image: linear-gradient(
											315deg,
											#2b7c58,
											#000000
										);
	
}

.card {
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	height: 25rem;
	margin-top: 2rem;
	max-width: 100%;
	padding: 1rem;
	position: relative;
}

.card:after {
	filter: blur(30px);
}

.card .glass-effect:before {
	background-color: rgba(255, 255, 255, 0.1);
	content: '';
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 50%;
}

.card .glass-effect {
	background-color: rgba(0, 0, 0, 0.6);
	bottom: 6px;
	left: 6px;
	position: absolute;
	right: 6px;
	top: 6px;
	z-index: 1;
}

/* Favs & Views */
.card .fav,
.card .views {
	padding: 0.25rem 0.5rem;
	position: absolute;
	text-shadow: 0 0 5px #000000;
	top: 0.5rem;
	z-index: 2;
}

.card .fav {
	left: 0.5rem;
}

.card .views {
	color: var(--secondary-color);
	right: 0.5rem;
}

.card .views span:first-child {
	color: #ffffff;
	font: 700 1rem 'Poppins', sans-serif;
	margin-right: 3px;
}

/* View icon */
.card .views span:last-child {
	color: var(--secondary-color);
	font-size: 1rem;
}

/* Fav icon */
.card .fav span:first-child {
	color: #ffff00;
	font-size: 1.25rem;
}

.card a {
	display: block;
	padding: 2.5rem 1rem;
	z-index: 2;
}

.card h3:before,
.card h3:after {
	background-color: var(--bg-card-contrast);
	content: '';
	display: block;
	height: 2px;
	position: absolute;
	top: 100%;
	transition: background-color 150ms ease-in-out,
							transform 150ms 150ms ease-in-out,
							width 150ms ease-in-out;
	width: 0;
}

.card h3:before {
	left: 0;
}

.card h3 {
	color: #ffffff;
	font: 700 1.25rem 'Poppins', sans-serif;
	margin-bottom: 1rem;
	outline: 0;
	padding: 0 0.25rem;
	position: relative;
	text-align: center;
	text-overflow: ellipsis;
	text-shadow: -1px 1px #000000,
							 -2px 2px #000000,
							 -3px 3px #404040,
							 -4px 4px #404040,
							 -5px 5px #404040,
							 -6px 6px #404040,
							 -7px 7px #404040,
							 -8px 8px #404040,
							 -9px 9px #404040,
							 -10px 10px #000000;
	text-wrap: balance;
	transition: text-shadow 150ms 300ms ease-in-out;
	user-select: none;
	width: 100%;
}

.card a:hover h3 {
	text-shadow: -1px 1px #0c0000,
							 -2px 2px #0c0000,
							 -3px 3px #0c0000,
							 -4px 4px #0c0000,
							 -5px 5px #0c0000,
							 -6px 6px #0c0000,
							 -7px 7px #0c0000,
							 -8px 8px #0c0000,
							 -9px 9px #0c0000,
							 -10px 10px #0c0000;
}

.card h3:after {
	right: 0;
}

.card a:hover h3:before,
.card a:hover h3:after {
	background-color: rgba(0, 0, 0, 0.1);
	transform: translate3d(0, -1rem, 0);
	transition: background-color 150ms 300ms ease-in-out,
							transform 150ms ease-in-out,
							width 150ms 150ms ease-in-out;
	width: 100%;
}

.card .ctn-img:before {
	background-color: rgba(0, 0, 0, 0.5);
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: background-color 450ms ease-in-out;
	width: 100%;
	z-index: 1;
}

.card a:hover .ctn-img:before {
	background-color: rgba(0, 0, 0, 0);
}

.card .ctn-img {
	border-radius: 1rem;
	overflow: hidden;
	position: relative;
	transition: transform 400ms ease-in-out;
	transform: scale(0.9);
}

.card a:hover .ctn-img {
	transform: scale(1);
}

.card img {
	display: block;
	height: 100%;
	object-fit: cover;
	position: relative;
	width: 100%;
}

/* Tag cards scrollbar */
.card .ctn-tags::-webkit-scrollbar {
	background-color: #051111;
	height: 12px;
}

.card .ctn-tags::-webkit-scrollbar-thumb {
	background-image: linear-gradient(
											90deg,
											#000000 50%,
											#cdcdcd
										);
	border-radius: 3px;
}

.card .ctn-tags::-webkit-scrollbar-thumb:hover {
	background-image: linear-gradient(
											90deg,
											#000000 50%,
											var(--secondary-color)
										);
	cursor: pointer;
}
										
.card .ctn-tags::-webkit-scrollbar-thumb:active {
	background-image: linear-gradient(
											90deg,
											#000000 50%,
											#00ff00
										);
}

/* Tag cards */
.card .ctn-tags:before {
	background-color: var(--bg-card-contrast);
	bottom: 0;
	box-shadow: 0 -1px 5px 1px #000000;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;
}

.card .ctn-tags {
	align-items: center;
	display: flex;
	height: 4rem;
	margin: auto;
	overflow-x: auto;
	position: relative;
	padding: 0 0.5rem;
	width: 100%;
	z-index: 2;
}

.card .ctn-tags span,
.selected-filters span {
	box-shadow: 0 0 0 1px var(--bg-btns-tags-secondary),
							0 0 3px 0 inset var(--bg-btns-tags-primary);
	border-radius: 16px;
	font: 700 14px 'Poppins', sans-serif;
	background-color: var(--bg-btns-tags-secondary);
	color: var(--bg-btns-tags-primary);;
	margin-right: 10px;
	margin-bottom: 0.75rem;
	padding: 5px 0.75rem;
	text-align: center;
}

.card .ctn-tags span:nth-child(even),
.selected-filters span:nth-child(even) {
	background-color: var(--bg-btns-tags-primary);
	color: var(--bg-btns-tags-secondary);
}