/* Cards */
.ctn-card .card:before,
.ctn-card .card:after {
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.card {
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 100%;
	padding: 0.75rem 1rem 1rem;
	position: relative;
}

.card:after {
	filter: blur(30px);
}

.card .tech,
.card .fav {
	font-size: 1.5rem;
	padding: 0.25rem;
	position: absolute;
	top: 0;
	z-index: 3;
}

.card .tech {
	color: #ffffff;
	text-shadow: 0 0 3px;
	left: 0;
	transform: translate(-50%, -50%);
}

.card .fav {
	color: #ff8700;
	right: 0;
	text-shadow: 0 0 1px #000000,
							 0 0 4px #ff8700;
	transform: translate(50%, -50%);
}

.card .glass-effect:before {
	background-image: linear-gradient(315deg, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1));
	content: '';
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
}

.card .glass-effect {
	background-color: rgba(0, 0, 0, 0.9);
	bottom: 6px;
	left: 6px;
	position: absolute;
	right: 6px;
	top: 6px;
	z-index: 1;
}

/* Icons Container */
.card .ctn-icons-card {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
	z-index: 2;
}

.card .icons-card-left,
.card .icons-card-right {
	align-items: center;
	display: flex;
	color: #ffffff;
}

.card .icons-card-left {
	font: 700 0.85rem 'Poppins', sans-serif;
}

.card .icons-card-left span:last-child {
	margin-left: 5px;
}

.card .icons-card-right {
	font: 700 1rem 'Poppins', sans-serif;
}

.card .icons-card-right div:not(:last-child) {
	margin-right: 5px;
}

.card .date span:last-child,
.card .views span:first-child,
.card .likes span:first-child	{
	text-shadow: 0 0 1px #ffffff,
							 0 0 6px #000000;
}

.git .link-repo {
	color: #ffffff;
	font-size: 1.35rem;
	transition: color 0.3s ease-in-out;
}

.git .link-repo:hover,
.git .link-repo:focus,
.git .link-repo:active {
	color: #00ff00;
}

.card .link-card {
	display: block;
	padding: 1.5rem 0 1rem 0;
	z-index: 2;
}

.card h3:before,
.card h3:after {
	background-color: var(--bg-card-contrast);
	content: '';
	display: block;
	height: 2px;
	position: absolute;
	top: 100%;
	transition: background-color 150ms ease-in-out,
							transform 150ms 150ms ease-in-out,
							width 150ms ease-in-out;
	width: 0;
}

.card h3:before {
	left: 0;
}

.card h3 {
	color: #ffffff;
	font: 700 1.25rem 'Poppins', sans-serif;
	margin-bottom: 1rem;
	outline: 0;
	padding: 0 0.25rem;
	position: relative;
	text-align: center;
	text-overflow: ellipsis;
	text-shadow: -1px 1px #0c0000,
							 -2px 2px #0c0000,
							 -3px 3px #0c0000,
							 -4px 4px #0c0000,
							 -5px 5px #0c0000,
							 -6px 6px #0c0000,
							 -7px 7px #0c0000,
							 -8px 8px #0c0000,
							 -9px 9px #0c0000,
							 -10px 10px #0c0000;
	text-transform: uppercase;
	text-wrap: balance;
	transition: text-shadow 150ms 300ms ease-in-out;
	user-select: none;
	width: 100%;
}

.card a:hover h3,
.card a:focus h3,
.card a:active h3 {
	text-shadow: -1px 1px rgba(0, 0, 0, 1),
							 -2px 2px rgba(0, 0, 0, 1),
							 -3px 3px rgba(255, 255, 255, 0.1),
							 -4px 4px rgba(255, 255, 255, 0.1),
							 -5px 5px rgba(255, 255, 255, 0.1),
							 -6px 6px rgba(255, 255, 255, 0.2),
							 -7px 7px rgba(255, 255, 255, 0.2),
							 -8px 8px rgba(255, 255, 255, 0.3),
							 -9px 9px rgba(255, 255, 255, 0.3),
							 -10px 10px rgba(0, 0, 0, 1);
}

.card h3:after {
	right: 0;
}

.card a:hover h3:before,
.card a:focus h3:before,
.card a:active h3:before,
.card a:hover h3:after,
.card a:focus h3:after,
.card a:active h3:after {
	background-color: rgba(255, 255, 255, 0.1);
	transform: translate3d(0, -1rem, 0);
	transition: background-color 150ms 300ms ease-in-out,
							transform 150ms ease-in-out,
							width 150ms 150ms ease-in-out;
	width: 100%;
}

.card .ctn-img:before {
	background-color: rgba(0, 0, 0, 0.5);
	content: '';
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: background-color 450ms ease-in-out;
	width: 100%;
	z-index: 1;
}

.card a:hover .ctn-img:before,
.card a:focus .ctn-img:before,
.card a:active .ctn-img:before {
	background-color: rgba(0, 0, 0, 0);
}

.card .ctn-img {
	border-radius: 1rem;
	overflow: hidden;
	position: relative;
	transition: transform 400ms ease-in-out;
	transform: scale(0.9);
}

.card a:hover .ctn-img,
.card a:focus .ctn-img,
.card a:active .ctn-img {
	transform: translateY(5%) scale(0.9);
}

.card img {
	aspect-ratio: 16 / 9;
	display: block;
	height: 100%;
	object-fit: cover;
	position: relative;
	width: 100%;
}

/* Tag cards */
.card .ctn-tags:before {
	background-color: var(--bg-card-contrast);
	bottom: 0;
	box-shadow: 0 -1px 5px 1px #000000;
	content: '';
	height: 2px;
	left: 0;
	position: absolute;
	width: 100%;
}

.card .ctn-tags {
	display: block;
	margin: auto;
	overflow-x: auto;
	position: relative;
	padding: 1rem 0.5rem;
	white-space: nowrap;
	width: 100%;
	z-index: 2;
}

.selected-filters span,
.card .ctn-tags span {
	box-shadow: 0 0 0 1px var(--bg-btns-tags-secondary),
							0 0 3px 0 inset var(--bg-btns-tags-primary);
	border-radius: 1rem;
	font: 700 1rem 'Poppins', sans-serif;
	color: var(--bg-btns-tags-secondary);
	margin-right: 10px;
	margin-bottom: 0.75rem;
	padding: 3px 1rem;
	text-align: center;
	text-shadow: 0 0 3px #000000;
}