:root {
  --primary-color: #000000;
  --secondary-color: #00faff;
  --bg-menu: #000000;
  --bg-btns-tags-primary: #000000;
  --bg-btns-tags-secondary: #ffffff;
  --bg-headers: #000000;
  --bg-card-contrast: #ffffff;
}

/* Fonts */
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/letters/poppins.ttf') format('truetype');
}

@font-face {
	font-family: 'Shadows Into Light';
	src: url('../fonts/letters/shadows-into-ligth.ttf') format('truetype');
}

@font-face {
	font-family: 'Whisper';
	src: url('../fonts/letters/whisper.ttf') format('truetype');
}

*:before,
*,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:focus {
  outline: 0;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	background-color: #001919;
  overflow-x: hidden;
}

a { 
  text-decoration: none;
}

button {
  border-style: none;
  cursor: pointer;
}