/* Animations */
@keyframes glass {
	20%,
	100% {
		transform: translateX(20rem);
	}
}

@media (max-width: 1920px) {
	.ctn-filter-btns {
		grid-template-columns: 65% 45%;
	}

	.contianer-special-btns {
		grid-template-columns: 50% 50%;
	}

	.ctn-sort-btns {
		grid-template-columns: 1fr;
	}

	.selected-filters {
		grid-template-columns: repeat(6, 1fr);
	}
}

@media (max-width: 1400px) {
	.ctn-filter-btns,
	.ctn-selected-filters,
	.main-container {
		width: 95%;
	}
	
	.ctn-filter-btns {
		grid-template-columns: 1fr;
	}
	
	.contianer-special-btns {
		grid-template-columns: 100%;
	}

	.ctn-categories-tag {
		grid-template-columns: repeat(4, 1fr);
	}

	.ctn-sort-btns {
		grid-template-columns: repeat(4, 1fr);
	}

	.ctn-tech-btns {
		grid-template-columns: repeat(6, 1fr);
	}

	.selected-filters {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 768px) {
	.ctn-categories-tag {
		grid-template-columns: repeat(2, 1fr);
	}
	
	.ctn-sort-btns {
		grid-template-columns: 1fr 1fr;
	}

	.ctn-tech-btns {
		grid-template-columns: repeat(3, 1fr);
	}

	.selected-filters {
		grid-template-columns: repeat(2, 1fr);
	}

	.ctn-cards {
		grid-auto-columns: 25rem;
		grid-gap: 0 5rem;
		padding: 5rem 2rem;
	}
}