/* X-large devices (large desktops) */
@media (max-width: 1920px) {
	.ctn-categories-tag {
		grid-template-columns: repeat(4, 1fr);
	}

	.ctn-filter-btns {
		grid-template-columns: 65% 45%;
	}

	.contianer-special-btns {
		grid-template-columns: 50% 50%;
	}

	.ctn-cards {
		grid-auto-columns: minmax(25rem, 30rem);
    grid-gap: 0 5rem;
    padding: 5rem;
	}
}

/* Large devices (landscape tablets, desktop) */
@media (max-width: 1400px) {
	.ctn-filter-btns,
	.ctn-selected-filters,
	.main-container {
		width: 95%;
	}
	
	.ctn-filter-btns,
	.contianer-special-btns {
		grid-template-columns: 1fr;
	}

	.ctn-cards {
		padding: 4rem;
	}
}

/* Medium devices (landscape phones, tablets) */
@media (max-width: 768px) {
	.ctn-cards {
		grid-auto-columns: minmax(20rem, 22.5rem);
	}

	.card .tech,
	.card .fav {
		font-size: 1.25rem;
	}

	.card h3 {
		font-size: 1rem;
	}

	.ctn-tags::-webkit-scrollbar {
		height: 10px;
	}

	.selected-filters span,
	.card .ctn-tags span {
		font-size: 0.75rem;
	}
}

/* Small devices (portrait phones) */
@media (max-width: 576px) {
	#scroll-bar:before {
		font-size: 1.25rem;
		line-height: calc(1.25rem + 1.75rem - 2.5px);
	}

	#scroll-bar {
		height: 3rem;
		right: 1.25rem;
		width: 3rem;
	}

	.selected-filters {
		grid-template-columns: repeat(auto-fill, minmax(8.75rem, 1fr));
	}

	.card .icons-card-left,
	.card .icons-card-right {
		font-size: 0.7rem;
	}

	.git .link-repo {
		font-size: 1rem;
	}
}

/* X-small devices (smartphones, android phones, landscape iPhone) */
@media (max-width: 480px) {
	.ctn-cards {
		padding: 4rem 1.5rem;
		gap: 0 3.5rem;
	}
}