@media (max-width: 1920px) {
	.ctn-filter-btns {
		grid-template-columns: 70% 30%;
	}

	.ctn-sort-btns {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 1400px) {
	.ctn-filter-btns,
	.ctn-selected-filters,
	.main-container {
		width: 95%;
	}

	.ctn-filter-btns {
		grid-template-columns: 1fr;
	}

	.ctn-sort-btns {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (max-width: 768px) {
	.ctn-sort-btns {
		grid-template-columns: 1fr 1fr;
	}
}