/* Tags */
.ctn-tag-buttons {
	grid-template-columns: repeat(auto-fill, minmax(5rem, 8rem));
}

.selected-filters {
	grid-template-columns: repeat(8, 1fr);
}

.ctn-sort-btns {
	grid-template-columns: 1fr 1fr;
}

.ctn-tech-btns {
	grid-template-columns: 1fr;
}

.ctn-categories-tag {
	background-color: #000000;
	box-shadow: 0 0 5px inset #cdcdcd;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	place-items: center;
	gap: 1rem;
	padding: 1rem;
}

.ctn-categories-tag .category-tag {
	background-color: #ffffff;
	border-radius: 1rem;
	color: #000000;
	font: bold 14px 'Poppins', sans-serif;
	padding: 0.25rem 0;
	transition: 0.3s ease-in-out;
	text-shadow: 0 0 4px #ffffff;
	width: 100%;
}

.ctn-categories-tag .category-tag.active	{
	background-color: var(--secondary-color);
}

/* Tag Buttons */
.btn-tag {
	background-color: var(--bg-btns-tags-primary);
	box-shadow: 0 0 0 2px var(--bg-btns-tags-secondary),
							0 0 6px 0 inset var(--bg-btns-tags-secondary);
	border-radius: 4px;
	color: var(--bg-btns-tags-secondary);
	font: bold 15px 'Poppins', sans-serif;
	padding: 0.5rem 0;
	text-shadow: 0 0 4px var(--bg-btns-tags-primary);
	transition: background-color 0.3s ease-in-out,
							box-shadow 0.3s ease-in-out;
	width: 100%;
}

.btn-highlight,
.btn-tag.disabled {
	background-color: var(--bg-btns-tags-secondary);
	box-shadow: 0 0 0 2px var(--bg-btns-tags-secondary),
							0 0 6px 0 inset var(--bg-btns-tags-primary);
	color: var(--bg-btns-tags-primary);
	text-shadow: 0 0 4px var(--bg-btns-tags-secondary);
}

.btn-tag:hover,
.btn-tag:focus,
.btn-tag:active {
	box-shadow: 0 0 0 3px var(--secondary-color),
							0 0 10px 0 inset;
}

.category-tag:hover,
.category-tag:focus,
.category-tag:active,
.btn-tag.disabled:hover,
.btn-tag.disabled:focus,
.btn-tag.disabled:active,
.btn-highlight:hover,
.btn-highlight:focus,
.btn-highlight:active {
	box-shadow: 0 0 0 3px var(--secondary-color),
							0 0 10px 0 #000000;
}

.btn-tag.active {
	box-shadow: 0 0 0 2px var(--secondary-color),
							0 0 10px 0 inset var(--secondary-color);
}

.btn-tag.active {
	box-shadow: 0 0 0 3px #00ff00,
							0 0 10px 0 inset #00ff00;
}

.btn-tag.disabled.active,
.btn-highlight.active,
.btn-tech.active {
	box-shadow: 0 0 0 3px #00ff00,
							0 0 10px 0 inset #000000;
}

.btn-highlight,
.btn-tag.disabled {
	background-color: var(--bg-btns-tags-secondary);
	box-shadow: 0 0 0 2px var(--bg-btns-tags-secondary),
							0 0 6px 0 inset var(--bg-btns-tags-primary);
	color: var(--bg-btns-tags-primary);
	text-shadow: 0 0 4px var(--bg-btns-tags-secondary);
}

.btn-tech {
	box-shadow: 0 0 0 2px #ffffff,
							0 0 6px 0 inset #000000;
}

.btn-tech:hover,
.btn-tech:focus,
.btn-tech:active {
	box-shadow: 0 0 0 3px #00ff00,
							0 0 10px 0 inset #000000;
}

.btn-tech:nth-child(1) {
	background-color: #8c6a00;
}

.btn-tech:nth-child(2) {
	background-color: #640016;
}

.btn-tech:nth-child(3) {
	background-color: #164290;
}

.btn-tech:nth-child(4) {
	background-color: #02416d;
}

.btn-tech:nth-child(5) {
	background-color:#8e7d08;
}

.btn-tech:nth-child(6) {
	background-color:#0a296f;
}