/* Tags */
.ctn-tag-buttons {
	grid-template-columns: repeat(auto-fill, minmax(5rem, 8rem));
}

.selected-filters {
	grid-template-columns: repeat(8, 1fr);
}

.ctn-sort-btns {
	grid-template-columns: 1fr 1fr;
}

.ctn-tech-btns {
	grid-template-columns: 1fr;
}

.ctn-categories-tag {
	background-color: #000000;
	box-shadow: 0 0 5px inset #cdcdcd;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	place-items: center;
	gap: 1rem;
	padding: 1rem;
}

.ctn-categories-tag .category-tag {
	background-color: #ffffff;
	border-radius: 1rem;
	color: #000000;
	font: bold 14px 'Poppins', sans-serif;
	padding: 0.25rem 0;
	transition: 0.3s ease-in-out;
	text-shadow: 0 0 4px #ffffff;
	width: 100%;
}

.ctn-categories-tag .category-tag.active	{
	background-color: var(--secondary-color);
}

/* Tag Buttons */
.btn-tag {
	background-color: #000000;
	box-shadow: 0 0 0 3px #ffffff,
							0 0 10px 0 inset #000000;
	border-radius: 4px;
	color: #ffffff;
	font: bold 15px 'Poppins', sans-serif;
	padding: 0.5rem 0;
	text-shadow: 0 0 4px #000000;
	transition: background-color 0.3s ease-in-out,
							box-shadow 0.3s ease-in-out;
	width: 100%;
}

/* Only tag buttons hover */
.btn-tag:hover, .btn-tag:focus, .btn-tag:active {
	box-shadow: 0 0 0 3px var(--secondary-color),
							0 0 10px 0 inset #00ffff;
}

/* Sort buttons & enabled buttons according to categories */
.btn-highlight,
.btn-tag.enabled {
	background-color: #ffffff;
	box-shadow: 0 0 0 3px #ffffff,
							0 0 10px 0 inset #000000;
	color: #000000;
	text-shadow: 0 0 4px #ffffff;
}

.category-tag:hover,
.category-tag:focus,
.category-tag:active,
.btn-tag.enabled:hover,
.btn-tag.enabled:focus,
.btn-tag.enabled:active,
.btn-highlight:hover,
.btn-highlight:focus,
.btn-highlight:active,
.btn-tech:hover,
.btn-tech:focus,
.btn-tech:active {
	box-shadow: 0 0 0 3px var(--secondary-color),
							0 0 10px 0 inset #000000;
}

/* Only tag buttons that are active */
.btn-tag.active {
	box-shadow: 0 0 0 3px #00ff00,
							0 0 10px 0 inset #00ff00;
}

.btn-tag.enabled.active,
.btn-highlight.active,
.btn-tech.active {
	box-shadow: 0 0 0 3px #00ff00,
							0 0 10px 0 inset #000000;
}

/* Line for glass animation */
.selected-filters span:before,
.btn-tag:before {
	background-image: linear-gradient(
											120deg,
											rgba(255, 255, 255, 0) 30%,
											rgba(255, 255, 255, 0.5),
											rgba(255, 255, 255, 0) 70%
										);
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: translateX(-20rem);
	width: 10rem;
}

.btn-tag:before {
	animation: glass 7s linear 53s infinite alternate;
}

.selected-filters span:before {
	animation: glass 7s linear 23s infinite alternate;
}

.selected-filters span,
.btn-tag {
	overflow: hidden;
	position: relative;
}